.card {
	background-color: rgba(0, 0, 0, 0.959);
	padding: 1rem 9rem 1rem 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	box-shadow: 0 2px 8px #700b97;
}

.errorMsg {
	color: red;
	font-size: 20px;
	font-family: 'Signika', sans-serif;
}

.control {
	margin-bottom: 0.5rem;
}

.buttonsContainer {
	letter-spacing: 1px;
}
.card label {
	color: #3e065f;
	margin: 14px 0;
	display: block;
	font-size: 22px;
	line-height: 1;
	font-family: 'Signika', sans-serif;
}

.card input {
	width: 140%;
	font-size: 19px;
	padding: 10px;
	background: rgb(0, 0, 0);
	color: #8e05c2;
	letter-spacing: 1px;
	font-family: 'Signika', sans-serif;
}

.msg {
	font-size: 15px;
	color: #700b97;
	font-weight: 500;
	letter-spacing: 0.5px;
	margin-left: 5px;
	cursor: pointer;
	transition: all 400ms ease-in-out;
	font-family: 'Signika', sans-serif;
}
