.signCard {
	background-color: #ffffff;
	width: 24%;
	height: 50%;
	padding: 1rem 3rem 1rem 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 6px;
	box-shadow: 0 2px 8px #3e065f;
	border-radius: 5%;
}
.signCard label {
	color: black;
	margin: 5% 0;
	display: block;
	font-size: 22px;
	line-height: 1;
	font-family: 'Signika', sans-serif;
}

.signCard input {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 105%;
	border-radius: 20px;
	border-color: #3e065f;
	font-size: 15px;
	padding: 10px;
	background: #ffffff;
	color: black;
	letter-spacing: 1px;
	font-family: 'Signika', sans-serif;
}

.signupBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10%;
	margin-bottom: 5%;
}
.SignmsgContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media all and (max-width: 1400px) {
	.signCard {
		width: 36%;
	}
	.errorMsg {
		font-size: 10px;
	}
}

@media all and (max-width: 1200px) {
	.signCard {
		width: 43%;
	}

	.errorMsg {
		font-size: 10px;
	}
}

@media all and (max-width: 930px) {
	.signCard {
		width: 56%;
	}

	.errorMsg {
		font-size: 10px;
	}
}

@media all and (max-width: 730px) {
	.signCard {
		width: 66%;
		padding: 1rem 2rem 2rem 2rem;
	}

	.errorMsg {
		font-size: 10px;
	}
}

@media all and (max-width: 540px) {
	.signCard {
		width: 76%;
	}

	.signCard label {
		margin: 10px 0;
		font-size: 19px;
	}
	.signCard input {
		font-size: 17px;
	}
	.loginBtn {
		font-size: 14px;
		width: 30%;
	}
}
@media all and (max-width: 500px) {
	.signCard {
		width: 86%;
		padding: 0rem 2rem 1rem 2rem;
	}
	.SignmsgContainer {
		padding-top: 10%;
	}
}
@media all and (max-width: 380px) {
	.signCard {
		width: 86%;
	}

	.signCard label {
		margin: 10px 0;
		font-size: 19px;
	}
	.signCard input {
		font-size: 17px;
	}
}

@media all and (max-width: 322px) {
	.signCard {
		width: 86%;
	}

	.signCardrd label {
		margin: 10px 0;
		font-size: 14px;
	}
	.signCard input {
		font-size: 14px;
	}
	.SignmsgContainer {
		padding-top: 20%;
	}
}

@media all and (max-height: 920px) {
	.signCard {
		height: 53%;
	}
}

@media all and (max-height: 858px) {
	.signCard {
		height: 57%;
	}
}

@media all and (max-height: 800px) {
	.signCard {
		height: 60%;
	}
}

@media all and (max-height: 756px) {
	.signCard {
		height: 68%;
	}
}
@media all and (max-height: 664px) {
	.signCard {
		height: 74%;
	}
}
@media all and (max-height: 619px) {
	.signCard {
		height: 80%;
	}
}
@media all and (max-height: 565px) {
	.signCard {
		height: 87%;
	}
}
@media all and (max-height: 532px) {
	.signCard {
		height: 92%;
	}
}
@media all and (max-height: 495px) {
	.signCard {
		height: 84%;
	}
	.signCard label {
		margin: 10px 0;
		font-size: 19px;
	}
	.signCard input {
		font-size: 12px;
	}
}
@media all and (max-height: 430px) {
	.signCard {
		height: 84%;
	}
	.signCard label {
		margin: 10px 0;
		font-size: 14px;
	}
	.signCard input {
		font-size: 10px;
	}
	.loginBtn {
		font-size: 13px;
		width: 20%;
		margin-top: -5%;
	}
}

@media all and (max-height: 430px) {
	.signCard {
		height: 92%;
	}
}
