.signCard {
	background-color: #ffffff;
	width: 24%;
	height: 60%;
	padding: 1rem 3rem 1rem 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 6px;
	box-shadow: 0 2px 8px #3e065f;
	border-radius: 5%;
}
.signCard label {
	color: black;
	margin: 5% 0;
	display: block;
	font-size: 22px;
	line-height: 1;
	font-family: 'Signika', sans-serif;
}

.signCard input {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 105%;
	border-radius: 20px;
	border-color: #3e065f;
	font-size: 15px;
	padding: 10px;
	background: #ffffff;
	color: black;
	letter-spacing: 1px;
	font-family: 'Signika', sans-serif;
}

.signupBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 6%;
	margin-bottom: 2%;
}
.SignmsgContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}
#errorMsg{
	width: 105%;

}
.backBtn {
	position: absolute;
	width: 1%;
	margin-top: -4%;
	margin-bottom: 4%;
	left: 520;
	top: calc((100% - 360px) / 2);
}

.names{
	display: flex;
	justify-content: space-between;
}
.linkText {
	color: #700b97;
	font-size: 15px;
	font-family: 'Signika', sans-serif;
	text-decoration: none;
}

.linkText:hover {
	color: black;
	transition: all 0.3s ease-out;
}

#demo-simple-select-label{
	margin: 0% !important;
}

@media all and (max-width: 1400px) {
	.signCard {
		width: 36%;
	}
	.errorMsg {
		font-size: 10px;
	}
}

@media all and (max-width: 1200px) {
	.signCard {
		width: 43%;
	}


}
/* @media all and (max-width: 1024px) {
	add the stuff


} */
@media all and (max-width: 930px) {
	.signCard {
		width: 56%;
	}

}

@media all and (max-width: 730px) {
	.signCard {
		width: 66%;
		padding: 1rem 2rem 2rem 2rem;
	}

}

@media all and (max-width: 540px) {
	.signCard {
		width: 76%;
	}

	.signCard label {
		margin: 10px 0;
		font-size: 19px;
	}
	.signCard input {
		font-size: 17px;
	}
	.loginBtn {
		font-size: 14px;
		width: 30%;
	}
}
@media all and (max-width: 500px) {
	.signCard {
		width: 86%;
		padding: 0rem 2rem 1rem 2rem;
	}
	.SignmsgContainer {
		padding-top: 10%;
	}
}
@media all and (max-width: 380px) {
	.signCard {
		width: 86%;
	}

	.signCard label {
		margin: 10px 0;
		font-size: 19px;
	}
	.signCard input {
		font-size: 17px;
	}
}

@media all and (max-width: 322px) {
	.signCard {
		width: 86%;
	}

	.signCardrd label {
		margin: 10px 0;
		font-size: 14px;
	}
	.signCard input {
		font-size: 14px;
	}
	.SignmsgContainer {
		padding-top: 20%;
	}
}

@media all and (max-height: 920px) {
	.signCard {
		height: 62%;
	}
}

@media all and (max-height: 880px) {
	.signCard {
		height: 66%;
	}
}

@media all and (max-height: 827px) {
	.signCard {
		height: 70%;
	}
}

@media all and (max-height: 774px) {
	.signCard {
		height: 74%;
	}
}
@media all and (max-height: 746px) {
	.signCard {
		height: 81%;
	}
}
@media all and (max-height: 684px) {
	.signCard {
		height: 95%;
	}
	.signupBtn {
		margin-top: 8%;
		margin-bottom: 5%;
	}
	.signCard {
		padding: 0rem 3rem 1rem 2rem;
	}
}
@media all and (max-height: 649px) {
	.signCard label {
		font-size: 18px;
		margin: 4% 0;
	}
	.signCard input {
		font-size: 13px;
		padding: 7px;
	}
}
@media all and (max-height: 555px) {
	.signCard {
		height: 98%;
	}
	.backBtn {
		position: absolute;
		width: 1%;
		top: calc((100% - 330px) / 2);
	}
}
@media all and (max-height: 508px) {
	.signCard {
		height: 99%;
	}
	.errorMsg{
		font-size: 0.5rem;
	}
}
@media all and (max-height: 495px) {

	.signCard label {
		margin: 10px 0;
		font-size: 19px;
	}
	.signCard input {
		font-size: 12px;
	}
	.backBtn{
		font-size: 70%;
		width: 1;
		top: calc((100% - 280px) / 2);
	}
#pushdown{
	margin-bottom: 5%;
}
	#cardTitle{
		margin-top:5%;
	}

}
@media all and (max-height: 435px) {
	.signCard {
		height: 84%;
	}
	.signCard label {
		margin: 10px 0;
		font-size: 14px;
	}
	.signCard input {
		font-size: 10px;
	}
	.loginBtn {
		font-size: 13px;
		width: 20%;
		margin-top: -5%;
	}
}

@media all and (max-height: 430px) {
	.signCard {
		height: 92%;
	}
}

@media all and (max-height: 375px) {
	.signCard label {
		margin: 6px 0;
		font-size: 10px;
	}
	.signCard input {
		font-size: 7px;
	}
	.signCard {
		height: 97%;
	}
}
