.read {
	display: flex;
	justify-content: center;
	align-items: center;
}
/* .read-container {
	display: flex;
	justify-content: center;
	align-items: center;
} */
.title-container {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 55px;
	font-weight: 1rem;
	padding: 20px 5px;
}
.author-container {
	font-size: 25px;
	font-family: 'Nunito', sans-serif;
}
.read-content {
	display: block;
	justify-content: center;
	align-items: center;
}
.test {
	position: inherit;
}
.img-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.readImg {
	max-width: 20%;
	height: auto;
}

.text-content{
	display: flex;
	justify-content: center;
	align-items: center;
}