root {
	--primary: #3e065f;
}

.btn {
	padding: 8px 20px;
	border-radius: 2px;
	outline: none;
	border: none;
	cursor: pointer;
}

.primaryBtn {
	background-color: var(--primary);
	color: black;
	padding: 8px 20px;
	border: 1px solid var(--primary);
	font-family: 'Rammetto One', cursive;
}

.secondaryBtn {
	background-color: transparent;
	color: #8e05c2;
	padding: 8px 20px;
	border: 1px solid var(--primary);
	transition: all 0.3s ease-out;
	font-family: 'Rammetto One', cursive;
}

.loginBtn {
	width: 140%;
	background-color: transparent;
	color: white;
	padding: 8px 20px;
	border: 1px solid var(--primary);
	transition: all 0.3s ease-out;
	font-family: 'Rammetto One', cursive;
}

.LoginsmallBtn {
	position: relative;
	top: -20px;
	max-width: 30%;
	margin-left: 120%;
	padding: 1px 1px;
	font-size: 12px;
}

.smallBtn {
	padding: 1px 1px;
	font-size: 12px;
}

.mediumBtn {
	padding: 8px 20px;
	font-size: 20px;
}

.largeBtn {
	padding: 12px 26px;
	font-size: 20px;
}

.largestBtn {
	padding: 16px 40px;
	font-size: 30px;
}
.loginBtn:hover,
.primaryBtn:hover {
	color: #8e05c2;
	transition: all 0.3s ease-out;
}
.secondaryBtn:hover {
	color: black;
	transition: all 0.3s ease-out;
}

/* CSS */
.button-64 {
	align-items: center;
	background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
	border: 0;
	border-radius: 8px;
	box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
	box-sizing: border-box;
	color: #ffffff;
	display: flex;
	font-family: Phantomsans, sans-serif;
	font-size: 20px;
	justify-content: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	cursor: pointer;
}
.button-64:active,
.button-64:hover {
	outline: 0;
}
.button-64 span {
	background-color: rgb(5, 6, 45);
	padding: 16px 24px;
	border-radius: 6px;
	width: 100%;
	height: 100%;
	transition: 300ms;
}
.button-64:hover span {
	background: none;
}
