.loginSignUpContainer {
	background-color: #e2e2e2;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	object-fit: contain;
}
.card {
	background-color: #ffffff;
	width: 26%;
	height: 50%;
	padding: 1rem 3rem 1rem 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: 0 2px 8px #3e065f;
	border-radius: 3%;
}
#cardTitle{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -20%;

}

.control {
	margin-bottom: 0.5rem;
}

.buttonsContainer {
	letter-spacing: 1px;
}
.card label {
	color: black;
	margin: 5% 0;
	display: block;
	font-size: 22px;
	line-height: 1;
	font-family: 'Signika', sans-serif;
}

.card input {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 105%;
	border-radius: 20px;
	border-color: #3e065f;
	font-size: 15px;
	padding: 10px;
	background: #ffffff;
	color: black;
	letter-spacing: 1px;
	font-family: 'Signika', sans-serif;
}

.loginButton {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5%;
	margin-bottom: 3%;
}
.msgContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5%;
	width: 100%;
}
.msg {
	display: flex;
	justify-content: center;
	margin-right: 3%;
	margin-top: 0.5%;
	font-size: 15px;
	color: grey;
	font-family: 'Signika', sans-serif;
}

.linkText {
	color: #700b97;
	font-size: 15px;
	font-family: 'Signika', sans-serif;
	text-decoration: none;
}

#pushdown{
	margin-bottom: -20%;
}

@media all and (max-width: 1400px) {
	.card {
		width: 36%;
	}
	.errorMsg {
		font-size: 10px;
	}
}

@media all and (max-width: 1200px) {
	.card {
		width: 43%;
	}

	.errorMsg {
		font-size: 10px;
	}
}

@media all and (max-width: 930px) {
	.card {
		width: 56%;
	}

	.errorMsg {
		font-size: 10px;
	}
}

@media all and (max-width: 730px) {
	.card {
		width: 66%;
	}

	.errorMsg {
		font-size: 10px;
	}
}

@media all and (max-width: 540px) {
	.card {
		width: 76%;
		height: 46%;
	}

	.errorMsg {
		font-size: 10px;
	}
	.card label {
		margin: 10px 0;
		font-size: 19px;
	}
	.card input {
		font-size: 17px;
	}
	.msgContainer {
		padding-top: 10%;
	}
}

@media all and (max-width: 380px) {
	.card {
		width: 86%;
		height: 46%;
	}

	.errorMsg {
		font-size: 10px;
	}
	.card label {
		margin: 10px 0;
		font-size: 19px;
	}
	.card input {
		font-size: 17px;
	}
}

@media all and (max-width: 320px) {
	.card {
		width: 86%;
	}

	.errorMsg {
		font-size: 7px;
	}
	.card label {
		margin: 10px 0;
		font-size: 14px;
	}
	.card input {
		font-size: 14px;
	}
	.msgContainer {
		padding-top: 30%;
	}
}

@media all and (max-height: 920px) {
	.card {
		height: 55%;
	}
}

@media all and (max-height: 800px) {
	.card {
		height: 60%;
	}
}

@media all and (max-height: 720px) {
	.card {
		height: 65%;
	}
}

@media all and (max-height: 655px) {
	.card {
		height: 70%;
	}
}
@media all and (max-height: 600px) {
	.card {
		height: 74%;
	}
}
@media all and (max-height: 561px) {
	.card {
		height: 84%;
	}
}
@media all and (max-height: 544px) {
	.card {
		height: 84%;
	}
}
@media all and (max-height: 490px) {
	.card {
		height: 88%;
	}
}
@media all and (max-height: 467px) {
	.card {
		height: 94%;
	}
}
@media all and (max-height: 455px) {
	.card {
		height: 94%;
	}
	.card label {
		margin: 10px 0;
		font-size: 19px;
	}
	.card input {
		font-size: 12px;
	}
}
@media all and (max-height: 435px) {
	.loginButton{
		padding-top:2.5%;
		padding-bottom: 2.5%;
	}
}
@media all and (max-height: 343px) and (max-width: 306px) {
	.card {
		height: 94%;
	}
	.card label {
		margin: 10px 0;
		font-size: 15px;
	}
	.card input {
		font-size: 12px;
	}
	.msgContainer {
		padding-bottom: 15%;
	}
}
