.text > h1 {
	color: #700b97;
	font-size: 70px;
	margin-top: -50px;
	text-align: center;
	font-family: 'Aclonica', sans-serif;
	font-style: italic;
}
.text > p {
	color: #700b97;
	text-align: center;
	margin-top: 10px;
	font-size: 32px;
	padding-left: 20%;
	padding-right: 20%;
	font-family: 'Mogra', cursive;
	font-style: italic;
}

.Buttons {
	padding-top: 1%;
}

@media screen and (max-width: 1200px) {
	.text > h1 {
		font-size: 55px;
		margin-top: -60px;
		text-align: center;
	}
	.text > p {
		text-align: center;
		margin-top: 8px;
		font-size: 26px;
		padding-left: 10%;
		padding-right: 10%;
	}
}

@media screen and (max-width: 375px) {
	.text > h1 {
		font-size: 30px;
		margin-top: -50px;
	}
	.text > p {
		font-size: 18px;
		padding-left: 5%;
		padding-right: 5%;
	}
	.Buttons {
		padding-top: 2%;
	}
}
