.main {
	margin: 30px;
}

/* Centering the arrows to be in the middle and on top of the slider.  */
.slick-arrow.slick-prev,
.slick-arrow.slick-next {
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 999;
}

/* To remove the original slick prev and next buttons */
.slick-prev::before,
.slick-next::before {
	display: none;
}

/* The arrows colors  */
.arrows {
	color: red;
}

/* background color of the dots. */
.slick-dots li button::before {
	color: red;
	opacity: 0.7;
}

/* color of the dots when moving.  */
.slick-dots li.slick-active button:before {
	color: purple !important;
}
