.card {
	background-color: black;
	padding: 1rem 9rem 1rem 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	box-shadow: 0 2px 8px #e91a1a;
}

.errorMsg {
	color: red;
	font-size: 20px;
}

.control {
	margin-bottom: 0.5rem;
}

.btn {
	width: 140%;
	letter-spacing: 1px;
}
.card label {
	color: rgb(245, 0, 0);
	margin: 14px 0;
	display: block;
	font-size: 22px;
	line-height: 1;
}

.card input {
	width: 140%;
	font-size: 19px;
	padding: 10px;
	background: rgb(0, 0, 0);
	color: rgb(255, 0, 0);
	letter-spacing: 1px;
}

.msg {
	font-size: 15px;
	color: yellow;
	font-weight: 500;
	letter-spacing: 0.5px;
	margin-left: 5px;
	cursor: pointer;
	transition: all 400ms ease-in-out;
}
