.signCard {
	background-color: rgb(0, 0, 0);
	width: 24%;
	height: 50%;
	padding: 1rem 3rem 1rem 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 6px;
	box-shadow: 0 2px 8px #700b97;
	border-radius: 5%;
}
.signCard label {
	color: #3e065f;
	margin: 5% 0;
	display: block;
	font-size: 22px;
	line-height: 1;
	font-family: 'Signika', sans-serif;
}

.signCard input {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 105%;
	border-radius: 20px;
	border-color: #3e065fd3;
	font-size: 19px;
	padding: 10px;
	background: rgb(0, 0, 0);
	color: #ffffff;
	letter-spacing: 1px;
	font-family: 'Signika', sans-serif;
}

.signupBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10%;
	margin-bottom: 5%;
}
.SignmsgContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media all and (max-width: 1400px) {
	.signCard {
		width: 36%;
		height: 54%;
	}
	.errorMsg {
		font-size: 10px;
	}
}

@media all and (max-width: 1200px) {
	.signCard {
		width: 43%;
	}

	.errorMsg {
		font-size: 10px;
	}
}

@media all and (max-width: 930px) {
	.signCard {
		width: 56%;
	}

	.errorMsg {
		font-size: 10px;
	}
}

@media all and (max-width: 730px) {
	.signCard {
		width: 66%;
		height: 52%;
		padding: 1rem 2rem 2rem 2rem;
	}

	.errorMsg {
		font-size: 10px;
	}
}

@media all and (max-width: 540px) {
	.signCard {
		width: 76%;
		height: 46%;
	}

	.signCard label {
		margin: 10px 0;
		font-size: 19px;
	}
	.signCard input {
		font-size: 17px;
	}
	.loginBtn {
		font-size: 14px;
		width: 30%;
	}
}

@media all and (max-width: 380px) {
	.signCard {
		width: 86%;
		height: 45%;
	}

	.signCard label {
		margin: 10px 0;
		font-size: 19px;
	}
	.signCard input {
		font-size: 17px;
	}
}

@media all and (max-width: 320px) {
	.signCard {
		width: 86%;
	}

	.casignCardrd label {
		margin: 10px 0;
		font-size: 14px;
	}
	.signCard input {
		font-size: 14px;
	}
}
