.authorNameBox{
    display: grid;
    position: relative;
    grid-template-columns: repeat(5, auto);    
    align-items: center;
    justify-items: center;
    padding: 1%;
    padding-right: 4%;
    padding-left: 4%;
}

.MuiTypography-gutterBottom{
    margin-bottom: 0px !important;
}


@media only screen and (max-width:605px) {
	.authorNameBox{
        grid-template-columns: repeat(auto-fit,minmax(150px,250px));
        margin-bottom: -30px;
    }
  
}