@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap');

.navbar {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid #dbdbdb;
	z-index: 999;
	background-color: #fafafa;
}

.navbarContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 84px;
	width: 100%;
	/* max-width: 100vw; */
	border-bottom: 2px solid #dbdbdb;
	/* border-bottom: 2px solid #C4C4C4; */
}

.navbarLogo {
	font-family: 'Playfair Display', serif;
	color: #8e05c2;
	justify-self: start;
	margin-left: 20px;
	cursor: pointer;
	text-decoration: none;
	font-size: 3rem;
	display: flex;
	align-items: center;
}

.sticky-nav {
	display: flex;
	position: fixed;
	top: 0;
	max-width: 1100px;
}

.fa-home {
	font-size: 1.8rem;
}

.fa-cog {
	font-size: 1.8rem;
}

.fa-user-circle {
	font-size: 1.8rem;
}

.navMenu {
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-gap: 10px;
	list-style: none;
	text-align: center;
	width: 60vw;
	justify-content: end;
	margin-right: 1rem;
}

.navItem {
	height: 80px;
}

.navLinks {
	color: #8e05c2;
	display: flex;
	align-items: center;
	text-decoration: none;
	padding: 0.1rem 1rem;
	height: 100%;
}

.navLinks:hover {
	border-bottom: 4px solid #8e05c2;
	transition: all 0.2s ease-out;
}

.navLinksMobile {
	display: none;
}

.fa-bars {
	display: none;
}
.menuIcon {
	display: none;
}

@media screen and (max-width: 960px) {
	.fa-bars {
		display: block;
		font-size: 1.8rem;
		margin-right: 20px;
	}
	.fa-times {
		display: block;
		font-size: 1.8rem;
		margin-right: 26px;
	}
	.NavbarItems {
		position: relative;
	}

	.navMenu {
		display: block;
		flex-direction: column;
		width: 100%;
		max-width: 100%;
		height: 100vh;
		position: absolute;
		top: 80px;
		left: -100vw;
		opacity: 1;
		transition: all 0.5s ease;
	}

	.navMenu.active {
		background: black;
		left: 0;
		opacity: 1;
		transition: all 0.5s ease;
		z-index: 1;
	}

	.navLinks {
		position: relative;
		/* For the Responsive in the PC  */
		bottom: -430%;
		/* For actual phones */
		/* top: 40vh; */
		width: 100%;
		display: table;
	}

	.navLinks:hover {
		background-color: #9847ff;
		color: #242424;
		border-radius: 0;
	}

	.navbarLogo {
		justify-content: center;
		align-items: center;
		height: 84px;
		font-size: 2.5rem;
		margin-left: 40px;
	}
	.menuIcon {
		display: block;
	}
}
